# Dependencias
node_modules/

# Carpetas de compilación / build
dist/
.out/
.build/

# Archivos temporales
*.log
*.tmp

# Sistema operativo
.DS_Store
Thumbs.db

# Entornos
.env
.env.local

# Astro / cachés generadas
.astro/
*.debug.log*
*.error.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env.*
!.env.example
.cache/
.vite/
